<mat-sidenav-container>
    <mat-sidenav class="sidenav" [(opened)]="opened" mode="push">

        <!-- コンテンツの一覧 -->
        <mat-selection-list [multiple]="false">
            <div mat-subheader>list's</div>
            <mat-list-option *ngFor="let folder of folders">
              <mat-icon mat-list-icon>grading</mat-icon>
              <div mat-line>{{folder.name}}</div>
            </mat-list-option>
            <mat-divider></mat-divider>
            <div mat-subheader>Master menu</div>
            <mat-list-option *ngFor="let note of notes">
              <mat-icon mat-list-icon>description</mat-icon>
              <div mat-line>{{note.name}}</div>
            </mat-list-option>
        </mat-selection-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>