<div class="header">
    <mat-toolbar>
      <mat-toolbar-row>
        <!-- Sidenav button -->
        <button mat-icon-button  type="button" (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <!-- Toolbar's title -->
        <span>This is the toolbar</span>
        <!-- Spacer -->
        <span class="spacer"></span>
        <!-- Button(right side) -->
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
</div>